calc_forest/dify/dsl_ai_grading_profile_workflow.yml
app:
  description: AI批改+学生画像双模式workflow。grading模式对批改结果进行语义分析和补充评价；profiling模式根据历史数据生成学习画像。
  icon: "\U0001F4DD"
  icon_background: '#F7E8E4'
  mode: workflow
  name: 我的计算森林_AI批改画像助手
  use_icon_as_answer_icon: false
dependencies: []
kind: app
version: 0.3.1
workflow:
  conversation_variables: []
  environment_variables: []
  features:
    file_upload:
      enabled: false
    opening_statement: ''
    retriever_resource:
      enabled: false
    sensitive_word_avoidance:
      enabled: false
    speech_to_text:
      enabled: false
    suggested_questions: []
    suggested_questions_after_answer:
      enabled: false
    text_to_speech:
      enabled: false
  graph:
    edges:
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: start
        targetType: if-else
      id: start-to-mode-router
      source: start_node
      sourceHandle: source
      target: mode_router
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: if-else
        targetType: code
      id: router-true-to-build-grading
      source: mode_router
      sourceHandle: 'true'
      target: build_grading_query
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: if-else
        targetType: code
      id: router-false-to-build-profile
      source: mode_router
      sourceHandle: 'false'
      target: build_profile_query
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: code
        targetType: knowledge-retrieval
      id: build-grading-to-kg-grading
      source: build_grading_query
      sourceHandle: source
      target: kg_grading
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: knowledge-retrieval
        targetType: llm
      id: kg-grading-to-llm-grading
      source: kg_grading
      sourceHandle: source
      target: llm_grading
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: llm
        targetType: code
      id: llm-grading-to-assemble-grading
      source: llm_grading
      sourceHandle: source
      target: assemble_grading
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: code
        targetType: end
      id: assemble-grading-to-end
      source: assemble_grading
      sourceHandle: source
      target: end_node
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: code
        targetType: knowledge-retrieval
      id: build-profile-to-kg-profile
      source: build_profile_query
      sourceHandle: source
      target: kg_profile
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: knowledge-retrieval
        targetType: llm
      id: kg-profile-to-llm-profiling
      source: kg_profile
      sourceHandle: source
      target: llm_profiling
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: llm
        targetType: code
      id: llm-profiling-to-assemble-profile
      source: llm_profiling
      sourceHandle: source
      target: assemble_profile
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: code
        targetType: end
      id: assemble-profile-to-end
      source: assemble_profile
      sourceHandle: source
      target: end_node
      targetHandle: target
      type: custom
      zIndex: 0
    nodes:
    - data:
        desc: ''
        selected: false
        title: Start
        type: start
        variables:
        - label: "模式\uFF08grading \u6216 profiling\uFF09"
          max_length: null
          options: []
          required: true
          type: text-input
          variable: mode
        - label: "批改结果JSON"
          max_length: null
          options: []
          required: false
          type: text-input
          variable: grading_results
        - label: "学生信息JSON"
          max_length: null
          options: []
          required: false
          type: text-input
          variable: student_info
        - label: "错因统计JSON"
          max_length: null
          options: []
          required: false
          type: text-input
          variable: error_stats
        - label: "正确率趋势JSON"
          max_length: null
          options: []
          required: false
          type: text-input
          variable: accuracy_trend
      height: 230
      id: start_node
      position:
        x: 30
        y: 260
      positionAbsolute:
        x: 30
        y: 260
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 280
    - data:
        cases:
        - case_id: 'true'
          conditions:
          - comparison_operator: contains
            id: mode-router-cond-001
            value: grading
            varType: string
            variable_selector:
            - start_node
            - mode
          id: 'true'
          logical_operator: and
        desc: "根据mode字段路由：grading走批改路径，其余走画像路径"
        selected: false
        title: "模式路由"
        type: if-else
      height: 126
      id: mode_router
      position:
        x: 380
        y: 260
      positionAbsolute:
        x: 380
        y: 260
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 260
    - data:
        code: "import json\n\ndef main(grading_results: str) -> dict:\n    try:\n  \
          \      data = json.loads(grading_results)\n    except:\n        data = []\n\
          \    items = []\n    if isinstance(data, list):\n        items = data\n \
          \   elif isinstance(data, dict):\n        items = data.get('results', [])\n\
          \    errors = []\n    for item in items:\n        if not isinstance(item,\
          \ dict):\n            continue\n        is_wrong = not item.get('correct',\
          \ not item.get('is_correct', True))\n        if is_wrong:\n            code\
          \ = (\n                item.get('error_code')\n                or item.get('diagnosis',\
          \ {}).get('primary_error', {}).get('code', 'E99')\n                or 'E99'\n\
          \            )\n            errors.append(str(code))\n    error_codes =\
          \ ','.join(sorted(set(errors))) if errors else 'E99'\n    return {\n   \
          \     'retrieval_query': f\"批改评语 错因{error_codes} 评语模板\",\n        'error_codes':\
          \ error_codes,\n        'total_errors': str(len(errors)),\n    }\n"
        code_language: python3
        desc: "解析批改结果，构建知识库检索查询"
        outputs:
          retrieval_query:
            children: null
            type: string
          error_codes:
            children: null
            type: string
          total_errors:
            children: null
            type: string
        selected: false
        title: "构建批改查询"
        type: code
        variables:
        - value_selector:
          - start_node
          - grading_results
          variable: grading_results
      height: 150
      id: build_grading_query
      position:
        x: 720
        y: 130
      positionAbsolute:
        x: 720
        y: 130
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 320
    - data:
        code: "import json\n\ndef main(error_stats: str, accuracy_trend: str) -> dict:\n\
          \    try:\n        stats = json.loads(error_stats)\n    except:\n        stats\
          \ = {}\n    try:\n        trend = json.loads(accuracy_trend)\n    except:\n\
          \        trend = []\n    if isinstance(stats, dict):\n        top_errors\
          \ = sorted(stats.items(), key=lambda x: x[1], reverse=True)[:3]\n    else:\n\
          \        top_errors = []\n    error_str = ','.join([str(e[0]) for e in top_errors])\
          \ if top_errors else 'E99'\n    latest_acc = trend[-1] if isinstance(trend,\
          \ list) and trend else 0\n    return {\n        'retrieval_query': f\"学生画像\
          \ {error_str} 学习风格 成长叙事\",\n        'top_errors': error_str,\n        'latest_accuracy':\
          \ str(latest_acc),\n    }\n"
        code_language: python3
        desc: "解析错因统计和正确率趋势，构建画像检索查询"
        outputs:
          retrieval_query:
            children: null
            type: string
          top_errors:
            children: null
            type: string
          latest_accuracy:
            children: null
            type: string
        selected: false
        title: "构建画像查询"
        type: code
        variables:
        - value_selector:
          - start_node
          - error_stats
          variable: error_stats
        - value_selector:
          - start_node
          - accuracy_trend
          variable: accuracy_trend
      height: 150
      id: build_profile_query
      position:
        x: 720
        y: 450
      positionAbsolute:
        x: 720
        y: 450
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 320
    - data:
        desc: "检索批改相关知识（错因分析、评语模板）"
        query:
        - build_grading_query
        - retrieval_query
        dataset_ids:
        - e65030a0-3076-4cd1-b646-d834ecafa55e
        retrieval_mode: single
        top_k: 3
        score_threshold: 0.5
        selected: false
        title: "知识检索-批改"
        type: knowledge-retrieval
      height: 90
      id: kg_grading
      position:
        x: 1100
        y: 130
      positionAbsolute:
        x: 1100
        y: 130
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 280
    - data:
        desc: "检索画像相关知识（学生画像、成长体系）"
        query:
        - build_profile_query
        - retrieval_query
        dataset_ids:
        - e65030a0-3076-4cd1-b646-d834ecafa55e
        retrieval_mode: single
        top_k: 3
        score_threshold: 0.5
        selected: false
        title: "知识检索-画像"
        type: knowledge-retrieval
      height: 90
      id: kg_profile
      position:
        x: 1100
        y: 450
      positionAbsolute:
        x: 1100
        y: 450
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 280
    - data:
        context:
          enabled: false
          variable_selector: []
        desc: "LLM分析批改结果，生成温暖具体的评语"
        model:
          completion_params:
            temperature: 0.3
          mode: chat
          name: deepseek-chat
          provider: deepseek
        prompt_template:
        - id: grading-system-prompt
          role: system
          text: "你是一位小学数学批改助手。\n根据规则引擎的批改结果，对学生的答案进行语义分析和补充评价。\n注意：规则引擎已经判断了计算正确性，你的任务是补充分析可能的原因和建议。\n\
            结合知识库中的错因分析和评语模板，生成温暖具体的批改评语。\n输出中文JSON格式。"
        selected: false
        title: "LLM批改分析"
        type: llm
        variables: []
        vision:
          enabled: false
      height: 98
      id: llm_grading
      position:
        x: 1440
        y: 130
      positionAbsolute:
        x: 1440
        y: 130
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 280
    - data:
        context:
          enabled: false
          variable_selector: []
        desc: "LLM生成学习画像分析"
        model:
          completion_params:
            temperature: 0.3
          mode: chat
          name: deepseek-chat
          provider: deepseek
        prompt_template:
        - id: profiling-system-prompt
          role: system
          text: "你是一位学习分析助手，根据学生的历史做题数据生成学习画像。\n客观分析，不贴标签，关注可改进行动。\n结合知识库中的学生画像和成长体系内容，生成建设性的画像分析。\n\
            输出中文JSON格式。"
        selected: false
        title: "LLM画像分析"
        type: llm
        variables: []
        vision:
          enabled: false
      height: 98
      id: llm_profiling
      position:
        x: 1440
        y: 450
      positionAbsolute:
        x: 1440
        y: 450
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 280
    - data:
        code: "import json\n\ndef main(llm_output: str, error_codes: str, total_errors:\
          \ str) -> dict:\n    try:\n        result = json.loads(llm_output)\n    \
          \    grading_analysis = result\n    except:\n        grading_analysis = {'summary':\
          \ llm_output, 'review_status': 'pending_teacher_review'}\n    return {\n\
          \        'grading_analysis': json.dumps(grading_analysis, ensure_ascii=False),\n\
          \        'error_codes': error_codes,\n        'total_errors': total_errors,\n\
          \    }\n"
        code_language: python3
        desc: "解析LLM批改输出，组装最终结果"
        outputs:
          grading_analysis:
            children: null
            type: string
          error_codes:
            children: null
            type: string
          total_errors:
            children: null
            type: string
        selected: false
        title: "组装批改结果"
        type: code
        variables:
        - value_selector:
          - llm_grading
          - text
          variable: llm_output
        - value_selector:
          - build_grading_query
          - error_codes
          variable: error_codes
        - value_selector:
          - build_grading_query
          - total_errors
          variable: total_errors
      height: 150
      id: assemble_grading
      position:
        x: 1800
        y: 130
      positionAbsolute:
        x: 1800
        y: 130
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 320
    - data:
        code: "import json\n\ndef main(llm_output: str, top_errors: str, latest_accuracy:\
          \ str) -> dict:\n    try:\n        result = json.loads(llm_output)\n    \
          \    profile = result\n    except:\n        profile = {'summary': llm_output,\
          \ 'review_status': 'pending_teacher_review'}\n    return {\n        'profile':\
          \ json.dumps(profile, ensure_ascii=False),\n        'top_errors': top_errors,\n\
          \        'latest_accuracy': latest_accuracy,\n    }\n"
        code_language: python3
        desc: "解析LLM画像输出，组装最终结果"
        outputs:
          profile:
            children: null
            type: string
          top_errors:
            children: null
            type: string
          latest_accuracy:
            children: null
            type: string
        selected: false
        title: "组装画像结果"
        type: code
        variables:
        - value_selector:
          - llm_profiling
          - text
          variable: llm_output
        - value_selector:
          - build_profile_query
          - top_errors
          variable: top_errors
        - value_selector:
          - build_profile_query
          - latest_accuracy
          variable: latest_accuracy
      height: 150
      id: assemble_profile
      position:
        x: 1800
        y: 450
      positionAbsolute:
        x: 1800
        y: 450
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 320
    - data:
        desc: ''
        outputs:
        - value_selector:
          - assemble_grading
          - grading_analysis
          value_type: string
          variable: grading_analysis
        - value_selector:
          - assemble_grading
          - error_codes
          value_type: string
          variable: error_codes
        - value_selector:
          - assemble_grading
          - total_errors
          value_type: string
          variable: total_errors
        - value_selector:
          - assemble_profile
          - profile
          value_type: string
          variable: profile
        - value_selector:
          - assemble_profile
          - top_errors
          value_type: string
          variable: top_errors
        - value_selector:
          - assemble_profile
          - latest_accuracy
          value_type: string
          variable: latest_accuracy
        selected: false
        title: End
        type: end
      height: 180
      id: end_node
      position:
        x: 2200
        y: 260
      positionAbsolute:
        x: 2200
        y: 260
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 280
    viewport:
      x: 0
      y: 0
      zoom: 0.35
