calc_forest/dify/dsl_teacher_diagnosis_workflow.yml
app:
  description: 教师诊断助手 workflow - 班级错误分析 + 教学建议，基于知识库检索 + LLM 分析
  icon: "\U0001F4CA"
  icon_background: '#FFF3E0'
  mode: workflow
  name: "\u6211\u7684\u8BA1\u7B97\u68EE\u6797_\u6559\u5E08\u8BCA\u65AD\u52A9\u624B"
  use_icon_as_answer_icon: false
dependencies: []
kind: app
version: 0.3.1
workflow:
  conversation_variables: []
  environment_variables: []
  features:
    file_upload:
      enabled: false
    opening_statement: ''
    retriever_resource:
      enabled: false
    sensitive_word_avoidance:
      enabled: false
    speech_to_text:
      enabled: false
    suggested_questions: []
    suggested_questions_after_answer:
      enabled: false
    text_to_speech:
      enabled: false
  graph:
    edges:
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: start
        targetType: code
      id: start-to-build-query
      source: start_node
      sourceHandle: source
      target: build_query
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: code
        targetType: knowledge-retrieval
      id: build-query-to-knowledge
      source: build_query
      sourceHandle: source
      target: knowledge_retrieval
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: knowledge-retrieval
        targetType: llm
      id: knowledge-to-llm
      source: knowledge_retrieval
      sourceHandle: source
      target: llm_analysis
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: llm
        targetType: code
      id: llm-to-assemble
      source: llm_analysis
      sourceHandle: source
      target: assemble_result
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: code
        targetType: end
      id: assemble-to-end
      source: assemble_result
      sourceHandle: source
      target: end_node
      targetHandle: target
      type: custom
      zIndex: 0
    nodes:
    - data:
        desc: "\u63A5\u6536\u8BCA\u65AD\u7ED3\u679C\u548C\u5B66\u751F\u4FE1\u606F"
        selected: false
        title: Start
        type: start
        variables:
        - label: "\u8BCA\u65AD\u7ED3\u679C"
          max_length: null
          options: []
          required: true
          type: text-input
          variable: diagnosis
        - label: "\u5B66\u751F\u4FE1\u606F"
          max_length: null
          options: []
          required: true
          type: text-input
          variable: student_info
        - label: "\u4F1A\u8BDD\u5386\u53F2"
          max_length: null
          options: []
          required: false
          type: text-input
          variable: session_history
      height: 150
      id: start_node
      position:
        x: 30
        y: 250
      positionAbsolute:
        x: 30
        y: 250
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 280
    - data:
        code: |
          import json
          import re

          def main(diagnosis: str, student_info: str) -> dict:
              # 尝试 JSON 解析，失败则当作纯文本
              code = ''
              try:
                  diag = json.loads(diagnosis)
                  if isinstance(diag, dict):
                      code = diag.get('primary_error', {}).get('code', '')
              except Exception:
                  code = ''

              # 从纯文本中提取错因代码
              if not code:
                  codes = re.findall(r'E\d{2}', diagnosis)
                  code = codes[0] if codes else 'E99'

              return {
                  'retrieval_query': f'\u9519\u56E0{code} \u6559\u5B66\u7B56\u7565 \u73ED\u7EA7\u9519\u8BEF\u5206\u6790 \u5F15\u5BFC\u65B9\u6CD5',
                  'error_code': code,
                  'student_summary': student_info[:200],
              }
        code_language: python3
        desc: "\u4ECE\u8BCA\u65AD\u7ED3\u679C\u4E2D\u63D0\u53D6\u9519\u56E0\u4EE3\u7801\uFF0C\u6784\u5EFA\u77E5\u8BC6\u5E93\u68C0\u7D22\u67E5\u8BE2"
        outputs:
          retrieval_query:
            children: null
            type: string
          error_code:
            children: null
            type: string
          student_summary:
            children: null
            type: string
        selected: false
        title: "\u6784\u5EFA\u68C0\u7D22\u67E5\u8BE2"
        type: code
        variables:
        - value_selector:
          - start_node
          - diagnosis
          variable: diagnosis
        - value_selector:
          - start_node
          - student_info
          variable: student_info
      height: 150
      id: build_query
      position:
        x: 350
        y: 230
      positionAbsolute:
        x: 350
        y: 230
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 320
    - data:
        desc: "\u68C0\u7D22\u9519\u56E0\u6559\u5B66\u7B56\u7565\u77E5\u8BC6\u5E93"
        dataset_ids:
        - e65030a0-3076-4cd1-b646-d834ecafa55e
        query_variable_selector:
        - build_query
        - retrieval_query
        retrieval_mode: multiple
        multiple_retrieval_config:
          top_k: 5
          score_threshold: 0.5
          reranking_enable: true
          reranking_mode: weighted_score
          weights:
            keyword_setting:
              keyword_weight: 0.3
            semantic_setting:
              semantic_weight: 0.7
          reranking_model:
            provider: tongyi
            model: qwen3-rerank
        selected: false
        single_retrieval_config:
          model:
            provider: deepseek
            model: deepseek-chat
        title: "\u77E5\u8BC6\u68C0\u7D22"
        type: knowledge-retrieval
      height: 90
      id: knowledge_retrieval
      position:
        x: 720
        y: 250
      positionAbsolute:
        x: 720
        y: 250
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 280
    - data:
        context:
          enabled: true
          variable_selector:
          - knowledge_retrieval
          - result
        desc: "\u57FA\u4E8E\u77E5\u8BC6\u5E93\u5185\u5BB9\u5206\u6790\u9519\u8BEF\u6A21\u5F0F\u5E76\u7ED9\u51FA\u6559\u5B66\u5EFA\u8BAE"
        model:
          completion_params:
            temperature: 0.7
            max_tokens: 2048
            top_p: 1.0
          mode: chat
          name: deepseek-chat
          provider: deepseek
        prompt_template:
        - id: system-prompt
          role: system
          text: "\u4F60\u662F\u4E00\u4F4D\u6559\u5B66\u5206\u6790\u52A9\u624B\uFF0C\u5E2E\u52A9\u6559\u5E08\u5FEB\u901F\u4E86\u89E3\u5B66\u751F\u9519\u8BEF\u6A21\u5F0F\u3002\n\
            \u7528\u5BA2\u89C2\u8BED\u8A00\u63CF\u8FF0\u8BC1\u636E\uFF0C\u533A\u5206\u672C\u6B21\u9519\u8BEF\u548C\u957F\u671F\u80FD\u529B\u5224\u65AD\uFF0C\u4E0D\u8981\u8FC7\u5EA6\u63A8\u65AD\u3002\n\
            \u7ED3\u5408\u77E5\u8BC6\u5E93\u4E2D\u7684\u6559\u5B66\u7B56\u7565\u7ED9\u51FA\u5177\u4F53\u5EFA\u8BAE\u3002\n\
            \u8F93\u51FA\u4E2D\u6587\uFF0C\u7ED3\u6784\u6E05\u6670\u3002\n\n\
            \u8BF7\u6309\u4EE5\u4E0B\u7ED3\u6784\u8F93\u51FA\uFF1A\n\
            \u3010\u9519\u8BEF\u5206\u6790\u3011\u5BA2\u89C2\u63CF\u8FF0\u9519\u8BEF\u7C7B\u578B\u3001\u53EF\u80FD\u539F\u56E0\u3001\u4E0E\u5B66\u751F\u60C5\u51B5\u7684\u5173\u8054\n\
            \u3010\u6559\u5E08\u5EFA\u8BAE\u3011\u5177\u4F53\u53EF\u64CD\u4F5C\u7684\u6559\u5B66\u5E72\u9884\u5EFA\u8BAE\uFF0C\u5305\u62EC\u5F15\u5BFC\u65B9\u6CD5\u548C\u7EC3\u4E60\u5EFA\u8BAE"
        - id: user-prompt
          role: user
          text: "\u8BCA\u65AD\u7ED3\u679C\uFF1A{{#start_node.diagnosis#}}\n\n\
            \u5B66\u751F\u4FE1\u606F\uFF1A{{#start_node.student_info#}}\n\n\
            \u77E5\u8BC6\u5E93\u53C2\u8003\u5185\u5BB9\uFF1A\n\
            {{#knowledge_retrieval.result#}}\n\n\
            \u8BF7\u5206\u6790\u8BE5\u5B66\u751F\u7684\u9519\u8BEF\u6A21\u5F0F\uFF0C\u7ED3\u5408\u77E5\u8BC6\u5E93\u4E2D\u7684\u6559\u5B66\u7B56\u7565\u7ED9\u51FA\u5177\u4F53\u5EFA\u8BAE\u3002"
        selected: false
        title: LLM\u5206\u6790
        type: llm
        vision:
          enabled: false
      height: 90
      id: llm_analysis
      position:
        x: 1060
        y: 250
      positionAbsolute:
        x: 1060
        y: 250
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 280
    - data:
        code: |
          import re

          def main(llm_text: str, error_code: str) -> dict:
              teacher_summary = llm_text.strip() if llm_text else ''
              error_analysis = ''
              recommendation = ''

              # 解析【错误分析】部分
              m_err = re.search(r'\u3010\u9519\u8BEF\u5206\u6790\u3011(.*?)(?=\u3010\u6559\u5E08\u5EFA\u8BAE\u3011|$)', teacher_summary, re.DOTALL)
              if m_err:
                  error_analysis = m_err.group(1).strip()

              # 解析【教师建议】部分
              m_rec = re.search(r'\u3010\u6559\u5E08\u5EFA\u8BAE\u3011(.*)', teacher_summary, re.DOTALL)
              if m_rec:
                  recommendation = m_rec.group(1).strip()

              # 如果解析失败，整体作为 teacher_summary
              if not error_analysis and not recommendation:
                  error_analysis = teacher_summary
                  recommendation = f'\u5EFA\u8BAE\u9488\u5BF9\u9519\u56E0{error_code}\u8FDB\u884C\u4E13\u9879\u7EC3\u4E60'

              return {
                  'teacher_summary': teacher_summary,
                  'error_analysis': error_analysis,
                  'recommendation': recommendation,
              }
        code_language: python3
        desc: "\u89E3\u6790 LLM \u8F93\u51FA\uFF0C\u7ED3\u6784\u5316\u8FD4\u56DE\u6559\u5E08\u5EFA\u8BAE"
        outputs:
          teacher_summary:
            children: null
            type: string
          error_analysis:
            children: null
            type: string
          recommendation:
            children: null
            type: string
        selected: false
        title: "\u7EC4\u88C5\u7ED3\u679C"
        type: code
        variables:
        - value_selector:
          - llm_analysis
          - text
          variable: llm_text
        - value_selector:
          - build_query
          - error_code
          variable: error_code
      height: 150
      id: assemble_result
      position:
        x: 1400
        y: 230
      positionAbsolute:
        x: 1400
        y: 230
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 320
    - data:
        desc: ''
        outputs:
        - value_selector:
          - assemble_result
          - teacher_summary
          value_type: string
          variable: teacher_summary
        - value_selector:
          - assemble_result
          - error_analysis
          value_type: string
          variable: error_analysis
        - value_selector:
          - assemble_result
          - recommendation
          value_type: string
          variable: recommendation
        selected: false
        title: End
        type: end
      height: 140
      id: end_node
      position:
        x: 1780
        y: 250
      positionAbsolute:
        x: 1780
        y: 250
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 280
    viewport:
      x: 0
      y: 0
      zoom: 0.45
