calc_forest/dify/dsl_teacher_diagnosis_workflow.yml
app:
  description: 教师诊断助手 workflow - 班级错误分析 + 教学建议，基于知识库检索 + LLM 分析
  icon: 📊
  icon_background: '#FFF3E0'
  mode: workflow
  name: 我的计算森林_教师诊断助手
  use_icon_as_answer_icon: false
dependencies: []
kind: app
version: 0.3.1
workflow:
  conversation_variables: []
  environment_variables: []
  features:
    file_upload:
      enabled: false
    opening_statement: ''
    retriever_resource:
      enabled: false
    sensitive_word_avoidance:
      enabled: false
    speech_to_text:
      enabled: false
    suggested_questions: []
    suggested_questions_after_answer:
      enabled: false
    text_to_speech:
      enabled: false
  graph:
    edges:
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: start
        targetType: code
      id: start-to-build-query
      source: start_node
      sourceHandle: source
      target: build_query
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: code
        targetType: knowledge-retrieval
      id: build-query-to-knowledge
      source: build_query
      sourceHandle: source
      target: knowledge_retrieval
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: knowledge-retrieval
        targetType: llm
      id: knowledge-to-llm
      source: knowledge_retrieval
      sourceHandle: source
      target: llm_analysis
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: llm
        targetType: code
      id: llm-to-assemble
      source: llm_analysis
      sourceHandle: source
      target: assemble_result
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: code
        targetType: end
      id: assemble-to-end
      source: assemble_result
      sourceHandle: source
      target: end_node
      targetHandle: target
      type: custom
      zIndex: 0
    nodes:
    - data:
        desc: 接收诊断结果和学生信息
        selected: false
        title: Start
        type: start
        variables:
        - label: 诊断结果
          max_length: null
          options: []
          required: true
          type: text-input
          variable: diagnosis
        - label: 学生信息
          max_length: null
          options: []
          required: true
          type: text-input
          variable: student_info
        - label: 会话历史
          max_length: null
          options: []
          required: false
          type: text-input
          variable: session_history
      height: 150
      id: start_node
      position:
        x: 30
        y: 250
      positionAbsolute:
        x: 30
        y: 250
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 280
    - data:
        code: "import json\nimport re\n\ndef main(diagnosis: str, student_info: str)\
          \ -> dict:\n    # 尝试 JSON 解析，失败则当作纯文本\n    code = ''\n    try:\n       \
          \ diag = json.loads(diagnosis)\n        if isinstance(diag, dict):\n   \
          \         code = diag.get('primary_error', {}).get('code', '')\n    except\
          \ Exception:\n        code = ''\n\n    # 从纯文本中提取错因代码\n    if not code:\n\
          \        codes = re.findall(r'E\\d{2}', diagnosis)\n        code = codes[0]\
          \ if codes else 'E99'\n\n    return {\n        'retrieval_query': f'\\u9519\\\
          u56E0{code} \\u6559\\u5B66\\u7B56\\u7565 \\u73ED\\u7EA7\\u9519\\u8BEF\\\
          u5206\\u6790 \\u5F15\\u5BFC\\u65B9\\u6CD5',\n        'error_code': code,\n\
          \        'student_summary': student_info[:200],\n    }\n"
        code_language: python3
        desc: 从诊断结果中提取错因代码，构建知识库检索查询
        outputs:
          retrieval_query:
            children: null
            type: string
          error_code:
            children: null
            type: string
          student_summary:
            children: null
            type: string
        selected: false
        title: 构建检索查询
        type: code
        variables:
        - value_selector:
          - start_node
          - diagnosis
          variable: diagnosis
        - value_selector:
          - start_node
          - student_info
          variable: student_info
      height: 150
      id: build_query
      position:
        x: 350
        y: 230
      positionAbsolute:
        x: 350
        y: 230
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 320
    - data:
        desc: 检索错因教学策略知识库
        dataset_ids:
        - e65030a0-3076-4cd1-b646-d834ecafa55e
        query_variable_selector:
        - build_query
        - retrieval_query
        retrieval_mode: single
        selected: false
        single_retrieval_config:
          model:
            provider: deepseek
            name: deepseek-chat
            mode: chat
        title: 知识检索
        type: knowledge-retrieval
      height: 90
      id: knowledge_retrieval
      position:
        x: 720
        y: 250
      positionAbsolute:
        x: 720
        y: 250
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 280
    - data:
        context:
          enabled: true
          variable_selector:
          - knowledge_retrieval
          - result
        desc: 基于知识库内容分析错误模式并给出教学建议
        model:
          completion_params:
            temperature: 0.7
            max_tokens: 2048
            top_p: 1.0
          mode: chat
          name: deepseek-chat
          provider: langgenius/deepseek/deepseek
        prompt_template:
        - id: system-prompt
          role: system
          text: '你是一位教学分析助手，帮助教师快速了解学生错误模式。

            用客观语言描述证据，区分本次错误和长期能力判断，不要过度推断。

            结合知识库中的教学策略给出具体建议。

            输出中文，结构清晰。


            请按以下结构输出：

            【错误分析】客观描述错误类型、可能原因、与学生情况的关联

            【教师建议】具体可操作的教学干预建议，包括引导方法和练习建议'
        - id: user-prompt
          role: user
          text: '诊断结果：{{#start_node.diagnosis#}}


            学生信息：{{#start_node.student_info#}}


            知识库参考内容：

            {{#knowledge_retrieval.result#}}


            请分析该学生的错误模式，结合知识库中的教学策略给出具体建议。'
        selected: false
        title: LLM\u5206\u6790
        type: llm
        vision:
          enabled: false
      height: 90
      id: llm_analysis
      position:
        x: 1060
        y: 250
      positionAbsolute:
        x: 1060
        y: 250
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 280
    - data:
        code: "import re\n\ndef main(llm_text: str, error_code: str) -> dict:\n  \
          \  teacher_summary = llm_text.strip() if llm_text else ''\n    error_analysis\
          \ = ''\n    recommendation = ''\n\n    # 解析【错误分析】部分\n    m_err = re.search(r'\\\
          u3010\\u9519\\u8BEF\\u5206\\u6790\\u3011(.*?)(?=\\u3010\\u6559\\u5E08\\\
          u5EFA\\u8BAE\\u3011|$)', teacher_summary, re.DOTALL)\n    if m_err:\n  \
          \      error_analysis = m_err.group(1).strip()\n\n    # 解析【教师建议】部分\n   \
          \ m_rec = re.search(r'\\u3010\\u6559\\u5E08\\u5EFA\\u8BAE\\u3011(.*)', teacher_summary,\
          \ re.DOTALL)\n    if m_rec:\n        recommendation = m_rec.group(1).strip()\n\
          \n    # 如果解析失败，整体作为 teacher_summary\n    if not error_analysis and not recommendation:\n\
          \        error_analysis = teacher_summary\n        recommendation = f'\\\
          u5EFA\\u8BAE\\u9488\\u5BF9\\u9519\\u56E0{error_code}\\u8FDB\\u884C\\u4E13\\\
          u9879\\u7EC3\\u4E60'\n\n    return {\n        'teacher_summary': teacher_summary,\n\
          \        'error_analysis': error_analysis,\n        'recommendation': recommendation,\n\
          \    }\n"
        code_language: python3
        desc: 解析 LLM 输出，结构化返回教师建议
        outputs:
          teacher_summary:
            children: null
            type: string
          error_analysis:
            children: null
            type: string
          recommendation:
            children: null
            type: string
        selected: false
        title: 组装结果
        type: code
        variables:
        - value_selector:
          - llm_analysis
          - text
          variable: llm_text
        - value_selector:
          - build_query
          - error_code
          variable: error_code
      height: 150
      id: assemble_result
      position:
        x: 1400
        y: 230
      positionAbsolute:
        x: 1400
        y: 230
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 320
    - data:
        desc: ''
        outputs:
        - value_selector:
          - assemble_result
          - teacher_summary
          value_type: string
          variable: teacher_summary
        - value_selector:
          - assemble_result
          - error_analysis
          value_type: string
          variable: error_analysis
        - value_selector:
          - assemble_result
          - recommendation
          value_type: string
          variable: recommendation
        selected: false
        title: End
        type: end
      height: 140
      id: end_node
      position:
        x: 1780
        y: 250
      positionAbsolute:
        x: 1780
        y: 250
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 280
    viewport:
      x: 0
      y: 0
      zoom: 0.45
