calc_forest/dify/export_teacher_diagnosis_local.yml
workflow:
  graph:
    nodes:
    - data:
        desc: 接收诊断结果、学生信息和会话历史
        selected: false
        title: Start
        type: start
        variables:
        - label: 诊断结果
          max_length: null
          options: []
          required: true
          type: text-input
          variable: diagnosis
        - label: 学生信息
          max_length: null
          options: []
          required: true
          type: text-input
          variable: student_info
        - label: 会话历史
          max_length: null
          options: []
          required: false
          type: text-input
          variable: session_history
      height: 187
      id: '1747000001'
      position:
        x: 80
        y: 300
      positionAbsolute:
        x: 80
        y: 300
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        code: "import json\nimport re\n\ndef main(diagnosis: str, student_info: str)\
          \ -> dict:\n    code = ''\n    confidence = 0.5\n    problem_summary = ''\n\
          \    try:\n        diag = json.loads(diagnosis)\n        if isinstance(diag,\
          \ dict):\n            code = diag.get('primary_error', {}).get('code', '')\n\
          \            confidence = diag.get('primary_error', {}).get('confidence',\
          \ 0.5)\n            problem_summary = diag.get('problem', '') or diag.get('problem_summary',\
          \ '')\n    except Exception:\n        pass\n    if not code:\n        codes\
          \ = re.findall(r'E\\d{2}', diagnosis)\n        code = codes[0] if codes\
          \ else 'E99'\n    critical = ['E03', 'E04', 'E08']\n    moderate = ['E01',\
          \ 'E02', 'E06']\n    if code in critical:\n        severity_level = 'critical'\n\
          \    elif code in moderate:\n        severity_level = 'moderate'\n    else:\n\
          \        severity_level = 'minor'\n    return {\n        'error_code': code,\n\
          \        'severity_level': severity_level,\n        'confidence': str(confidence),\n\
          \        'problem_summary': problem_summary or diagnosis[:200],\n      \
          \  'student_summary': student_info[:200],\n        'retrieval_query': f'错因{code}\
          \ 教学策略 错误分析方法 引导练习',\n    }\n"
        code_language: python3
        desc: 解析JSON诊断数据，提取错因代码、置信度、严重度等级
        outputs:
          error_code:
            children: null
            type: string
          severity_level:
            children: null
            type: string
          confidence:
            children: null
            type: string
          problem_summary:
            children: null
            type: string
          student_summary:
            children: null
            type: string
          retrieval_query:
            children: null
            type: string
        selected: false
        title: 解析诊断数据
        type: code
        variables:
        - value_selector:
          - '1747000001'
          - diagnosis
          variable: diagnosis
        - value_selector:
          - '1747000001'
          - student_info
          variable: student_info
      height: 94
      id: '1747000002'
      position:
        x: 400
        y: 300
      positionAbsolute:
        x: 400
        y: 300
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 241
    - data:
        cases:
        - case_id: case-critical
          conditions:
          - comparison_operator: contains
            value: critical
            variable_selector:
            - '1747000002'
            - severity_level
          logical_operator: and
        - case_id: case-moderate
          conditions:
          - comparison_operator: contains
            value: moderate
            variable_selector:
            - '1747000002'
            - severity_level
          logical_operator: and
        desc: 根据错因严重度路由到不同分析分支 — 严重/一般/轻微
        selected: false
        title: 错因严重度路由
        type: if-else
      height: 262
      id: '1747000003'
      position:
        x: 720
        y: 300
      positionAbsolute:
        x: 720
        y: 300
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 241
    - data:
        dataset_ids:
        - 8a588b72-2c02-4d34-b9ef-4f53dee606b0
        desc: 检索严重错因（退位/数位对齐/步骤遗漏）的教学知识
        query_variable_selector:
        - '1747000002'
        - retrieval_query
        retrieval_mode: single
        selected: false
        single_retrieval_config:
          model:
            mode: chat
            name: deepseek-chat
            provider: langgenius/deepseek/deepseek
        title: 严重错因检索
        type: knowledge-retrieval
      height: 132
      id: '1747000004'
      position:
        x: 1100
        y: 100
      positionAbsolute:
        x: 1100
        y: 100
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 241
    - data:
        context:
          enabled: true
          variable_selector:
          - '1747000004'
          - result
        desc: 针对严重计算错误进行深入分析，生成分步干预策略
        model:
          completion_params:
            temperature: 0.7
            max_tokens: 2048
            top_p: 1
          mode: chat
          name: deepseek-chat
          provider: langgenius/deepseek/deepseek
        prompt_template:
        - id: system-prompt-critical
          role: system
          text: '你是一位资深小学数学教学分析师。针对严重计算错误（退位/数位对齐/步骤遗漏），结合知识库内容进行深入分析。


            要求：

            1. 用客观语言描述证据，区分本次错误和长期能力判断

            2. 不要过度推断

            3. 结合知识库中的教学策略给出具体建议

            4. 输出中文，结构清晰


            输出格式：

            【错误分析】客观描述错误类型、深层原因、与学生历史表现的关联

            【干预策略】具体可操作的教学干预建议，包括分步骤引导方法

            【同类题推荐】2-3道同类练习题建议'
        - id: user-prompt-critical
          role: user
          text: '诊断结果：{{#1747000001.diagnosis#}}


            学生信息：{{#1747000001.student_info#}}


            错因代码：{{#1747000002.error_code#}}

            问题摘要：{{#1747000002.problem_summary#}}

            严重程度：严重


            知识库参考内容：

            {{#1747000004.result#}}


            请对该学生的严重计算错误进行深入分析。'
        selected: false
        title: 深度错因分析
        type: llm
        vision:
          enabled: false
      height: 130
      id: '1747000005'
      position:
        x: 1500
        y: 100
      positionAbsolute:
        x: 1500
        y: 100
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 241
    - data:
        dataset_ids:
        - 8a588b72-2c02-4d34-b9ef-4f53dee606b0
        desc: 检索一般错因（基础事实/进位/分数单位）的教学知识
        query_variable_selector:
        - '1747000002'
        - retrieval_query
        retrieval_mode: single
        selected: false
        single_retrieval_config:
          model:
            mode: chat
            name: deepseek-chat
            provider: langgenius/deepseek/deepseek
        title: 一般错因检索
        type: knowledge-retrieval
      height: 132
      id: '1747000006'
      position:
        x: 1100
        y: 300
      positionAbsolute:
        x: 1100
        y: 300
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 241
    - data:
        context:
          enabled: true
          variable_selector:
          - '1747000006'
          - result
        desc: 针对基础计算错误进行标准分析，给出教学建议
        model:
          completion_params:
            temperature: 0.7
            max_tokens: 2048
            top_p: 1
          mode: chat
          name: deepseek-chat
          provider: langgenius/deepseek/deepseek
        prompt_template:
        - id: system-prompt-moderate
          role: system
          text: '你是一位小学数学教学分析师。针对基础计算错误（基础事实/进位/分数单位），结合知识库内容进行分析。


            要求：

            1. 用客观语言描述证据，区分本次错误和长期能力判断

            2. 不要过度推断

            3. 结合知识库中的教学策略给出具体建议

            4. 输出中文，结构清晰


            输出格式：

            【错误分析】客观描述错误类型、可能原因、与学生情况的关联

            【教学建议】具体可操作的教学建议，包括引导方法和练习建议'
        - id: user-prompt-moderate
          role: user
          text: '诊断结果：{{#1747000001.diagnosis#}}


            学生信息：{{#1747000001.student_info#}}


            错因代码：{{#1747000002.error_code#}}

            问题摘要：{{#1747000002.problem_summary#}}

            严重程度：一般


            知识库参考内容：

            {{#1747000006.result#}}


            请对该学生的计算错误进行分析并给出教学建议。'
        selected: false
        title: 标准错因分析
        type: llm
        vision:
          enabled: false
      height: 130
      id: '1747000007'
      position:
        x: 1500
        y: 300
      positionAbsolute:
        x: 1500
        y: 300
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 241
    - data:
        dataset_ids:
        - 8a588b72-2c02-4d34-b9ef-4f53dee606b0
        desc: 检索轻微错因（运算顺序/抄题/符号混淆等）的教学知识
        query_variable_selector:
        - '1747000002'
        - retrieval_query
        retrieval_mode: single
        selected: false
        single_retrieval_config:
          model:
            mode: chat
            name: deepseek-chat
            provider: langgenius/deepseek/deepseek
        title: 轻微错因检索
        type: knowledge-retrieval
      height: 132
      id: '1747000008'
      position:
        x: 1100
        y: 500
      positionAbsolute:
        x: 1100
        y: 500
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 241
    - data:
        code: "ERROR_INFO = {\n    'E05': ('运算顺序错误', '提醒学生注意运算优先级：先乘除后加减，有括号先算括号。建议用标注法标记运算步骤。'),\n\
          \    'E07': ('抄题/转写错误', '建议训练学生抄写后立即比对检查，养成\"抄完看一遍\"的习惯。'),\n    'E09':\
          \ ('符号混淆', '使用对比练习，帮助学生区分易混淆的运算符号。'),\n    'E10': ('计算策略错误', '引导学生掌握基本的凑整、拆分等计算策略。'),\n\
          \    'E11': ('未验算', '培养验算习惯，建议每次计算后用逆运算或估算法检查。'),\n}\n\ndef main(error_code:\
          \ str, problem_summary: str, knowledge_result: str) -> dict:\n    info =\
          \ ERROR_INFO.get(error_code, ('轻微计算错误', '建议通过针对性练习巩固基础计算能力。'))\n    kb_ref\
          \ = knowledge_result[:300] if knowledge_result else '无'\n    return {\n\
          \        'result': f'【{info[0]}】{info[1]}\\n知识库参考：{kb_ref}\\n问题摘要：{problem_summary}',\n\
          \        'analysis_type': 'minor',\n    }\n"
        code_language: python3
        desc: 针对轻微错误生成简要建议（不调用LLM，节省计算资源）
        outputs:
          result:
            children: null
            type: string
          analysis_type:
            children: null
            type: string
        selected: false
        title: 轻微错因建议
        type: code
        variables:
        - value_selector:
          - '1747000002'
          - error_code
          variable: error_code
        - value_selector:
          - '1747000002'
          - problem_summary
          variable: problem_summary
        - value_selector:
          - '1747000008'
          - result
          variable: knowledge_result
      height: 94
      id: '1747000009'
      position:
        x: 1500
        y: 500
      positionAbsolute:
        x: 1500
        y: 500
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 241
    - data:
        desc: 汇聚三条分析分支的结果（严重/一般/轻微）
        output_type: string
        selected: false
        title: 合并分析结果
        type: variable-aggregator
        variables:
        - - '1747000005'
          - text
        - - '1747000007'
          - text
        - - '1747000009'
          - result
      height: 202
      id: '1747000010'
      position:
        x: 2200
        y: 300
      positionAbsolute:
        x: 2200
        y: 300
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 241
    - data:
        code: "def main(error_code: str, severity_level: str, student_summary: str)\
          \ -> dict:\n    SEVERITY_LABELS = {\n        'critical': '严重',\n       \
          \ 'moderate': '一般',\n        'minor': '轻微',\n    }\n    label = SEVERITY_LABELS.get(severity_level,\
          \ '一般')\n    query = f'错因{error_code} {label}错误 教学策略 班级干预方法 学生引导'\n    if\
          \ student_summary:\n        query += f' {student_summary[:50]}'\n    return\
          \ {\n        'strategy_query': query,\n        'severity_label': label,\n\
          \    }\n"
        code_language: python3
        desc: 基于错因和严重度构建知识库检索查询
        outputs:
          strategy_query:
            children: null
            type: string
          severity_label:
            children: null
            type: string
        selected: false
        title: 构建教学策略查询
        type: code
        variables:
        - value_selector:
          - '1747000002'
          - error_code
          variable: error_code
        - value_selector:
          - '1747000002'
          - severity_level
          variable: severity_level
        - value_selector:
          - '1747000002'
          - student_summary
          variable: student_summary
      height: 78
      id: '1747000011'
      position:
        x: 2500
        y: 300
      positionAbsolute:
        x: 2500
        y: 300
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 241
    - data:
        dataset_ids:
        - 8a588b72-2c02-4d34-b9ef-4f53dee606b0
        desc: 检索教学策略知识库，获取干预方法和引导建议
        query_variable_selector:
        - '1747000011'
        - strategy_query
        retrieval_mode: single
        selected: false
        single_retrieval_config:
          model:
            mode: chat
            name: deepseek-chat
            provider: langgenius/deepseek/deepseek
        title: 教学策略检索
        type: knowledge-retrieval
      height: 132
      id: '1747000012'
      position:
        x: 2800
        y: 300
      positionAbsolute:
        x: 2800
        y: 300
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 241
    - data:
        context:
          enabled: true
          variable_selector:
          - '1747000012'
          - result
        desc: 基于错因分析和教学策略生成综合教学建议
        model:
          completion_params:
            temperature: 0.7
            max_tokens: 2048
            top_p: 1
          mode: chat
          name: deepseek-chat
          provider: langgenius/deepseek/deepseek
        prompt_template:
        - id: system-prompt-strategy
          role: system
          text: '你是一位数学教学顾问。基于错因分析和学生信息，给出具体可操作的教学建议。结合知识库的教学策略。


            输出格式：

            【教学建议】具体可操作的教学干预建议

            【练习推荐】针对性的练习建议和题目类型

            【关注要点】需要持续关注的学生学习要点'
        - id: user-prompt-strategy
          role: user
          text: '错因分析结果：

            {{#1747000010.output#}}


            学生信息：{{#1747000001.student_info#}}

            错因代码：{{#1747000002.error_code#}}

            严重程度：{{#1747000002.severity_level#}}


            教学策略知识库参考：

            {{#1747000012.result#}}


            请基于以上信息，给出具体可操作的教学建议。'
        selected: false
        title: 教学建议生成
        type: llm
        vision:
          enabled: false
      height: 130
      id: '1747000013'
      position:
        x: 3100
        y: 300
      positionAbsolute:
        x: 3100
        y: 300
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 241
    - data:
        desc: 将分析结果和教学建议格式化为结构化报告
        selected: false
        template: '# 教师诊断报告


          ## 一、错误分析

          {{ analysis_result }}


          ## 二、错因代码：{{ error_code }} | 严重程度：{{ severity_label }}


          ## 三、学生信息摘要

          {{ student_summary }}


          ## 四、教学建议

          {{ strategy_recommendation }}


          ---


          *本报告由「我的计算森林」AI生成，请教师审核确认后使用。*'
        title: 格式化报告
        type: template-transform
        variables:
        - variable: analysis_result
          value_selector:
          - '1747000010'
          - output
        - variable: strategy_recommendation
          value_selector:
          - '1747000013'
          - text
        - variable: error_code
          value_selector:
          - '1747000002'
          - error_code
        - variable: student_summary
          value_selector:
          - '1747000002'
          - student_summary
        - variable: severity_label
          value_selector:
          - '1747000011'
          - severity_label
      height: 94
      id: '1747000014'
      position:
        x: 3400
        y: 300
      positionAbsolute:
        x: 3400
        y: 300
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 241
    - data:
        code: "import re\n\ndef main(formatted_report: str, error_code: str, severity_level:\
          \ str) -> dict:\n    teacher_summary = formatted_report.strip() if formatted_report\
          \ else ''\n    error_analysis = ''\n    recommendation = ''\n\n    m_err\
          \ = re.search(r'【错误分析】(.*?)(?=【|$)', teacher_summary, re.DOTALL)\n    if\
          \ m_err:\n        error_analysis = m_err.group(1).strip()\n\n    m_rec =\
          \ re.search(r'【(教学建议|干预策略|教师建议|练习推荐)】(.*?)(?=【|$)', teacher_summary, re.DOTALL)\n\
          \    if m_rec:\n        recommendation = m_rec.group(2).strip()\n\n    if\
          \ not error_analysis and not recommendation:\n        error_analysis = teacher_summary\n\
          \        recommendation = f'建议针对错因{error_code}进行专项练习'\n\n    return {\n\
          \        'teacher_summary': teacher_summary,\n        'error_analysis':\
          \ error_analysis,\n        'recommendation': recommendation,\n        'severity_level':\
          \ severity_level,\n    }\n"
        code_language: python3
        desc: 解析格式化报告，结构化输出教师诊断结果
        outputs:
          teacher_summary:
            children: null
            type: string
          error_analysis:
            children: null
            type: string
          recommendation:
            children: null
            type: string
          severity_level:
            children: null
            type: string
        selected: false
        title: 最终组装
        type: code
        variables:
        - value_selector:
          - '1747000014'
          - output
          variable: formatted_report
        - value_selector:
          - '1747000002'
          - error_code
          variable: error_code
        - value_selector:
          - '1747000002'
          - severity_level
          variable: severity_level
      height: 94
      id: '1747000015'
      position:
        x: 3700
        y: 300
      positionAbsolute:
        x: 3700
        y: 300
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 241
    - data:
        desc: ''
        outputs:
        - value_selector:
          - '1747000015'
          - teacher_summary
          value_type: string
          variable: teacher_summary
        - value_selector:
          - '1747000015'
          - error_analysis
          value_type: string
          variable: error_analysis
        - value_selector:
          - '1747000015'
          - recommendation
          value_type: string
          variable: recommendation
        - value_selector:
          - '1747000015'
          - severity_level
          value_type: string
          variable: severity_level
        selected: false
        title: End
        type: end
      height: 165
      id: '1747000016'
      position:
        x: 4000
        y: 300
      positionAbsolute:
        x: 4000
        y: 300
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 241
    edges:
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: start
        targetType: code
      id: edge-start-parse
      source: '1747000001'
      sourceHandle: source
      target: '1747000002'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: code
        targetType: if-else
      id: edge-parse-router
      source: '1747000002'
      sourceHandle: source
      target: '1747000003'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: if-else
        targetType: knowledge-retrieval
      id: edge-router-critical-kb
      source: '1747000003'
      sourceHandle: case-critical
      target: '1747000004'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: knowledge-retrieval
        targetType: llm
      id: edge-critical-kb-llm
      source: '1747000004'
      sourceHandle: source
      target: '1747000005'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: if-else
        targetType: knowledge-retrieval
      id: edge-router-moderate-kb
      source: '1747000003'
      sourceHandle: case-moderate
      target: '1747000006'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: knowledge-retrieval
        targetType: llm
      id: edge-moderate-kb-llm
      source: '1747000006'
      sourceHandle: source
      target: '1747000007'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: if-else
        targetType: knowledge-retrieval
      id: edge-router-minor-kb
      source: '1747000003'
      sourceHandle: 'false'
      target: '1747000008'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: knowledge-retrieval
        targetType: code
      id: edge-minor-kb-code
      source: '1747000008'
      sourceHandle: source
      target: '1747000009'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: llm
        targetType: variable-aggregator
      id: edge-critical-llm-merge
      source: '1747000005'
      sourceHandle: source
      target: '1747000010'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: llm
        targetType: variable-aggregator
      id: edge-moderate-llm-merge
      source: '1747000007'
      sourceHandle: source
      target: '1747000010'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: code
        targetType: variable-aggregator
      id: edge-minor-code-merge
      source: '1747000009'
      sourceHandle: source
      target: '1747000010'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: variable-aggregator
        targetType: code
      id: edge-merge-strategy-query
      source: '1747000010'
      sourceHandle: source
      target: '1747000011'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: code
        targetType: knowledge-retrieval
      id: edge-strategy-query-kb
      source: '1747000011'
      sourceHandle: source
      target: '1747000012'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: knowledge-retrieval
        targetType: llm
      id: edge-strategy-kb-llm
      source: '1747000012'
      sourceHandle: source
      target: '1747000013'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: llm
        targetType: template-transform
      id: edge-strategy-llm-template
      source: '1747000013'
      sourceHandle: source
      target: '1747000014'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: template-transform
        targetType: code
      id: edge-template-assemble
      source: '1747000014'
      sourceHandle: source
      target: '1747000015'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: code
        targetType: end
      id: edge-assemble-end
      source: '1747000015'
      sourceHandle: source
      target: '1747000016'
      targetHandle: target
      type: custom
      zIndex: 0
    viewport:
      x: 0
      y: 0
      zoom: 0.3
  features:
    opening_statement: ''
    suggested_questions: []
    suggested_questions_after_answer:
      enabled: false
    text_to_speech:
      enabled: false
      voice: ''
      language: ''
    speech_to_text:
      enabled: false
    retriever_resource:
      enabled: false
    sensitive_word_avoidance:
      enabled: false
    file_upload:
      image:
        enabled: false
        number_limits: 3
        transfer_methods:
        - local_file
        - remote_url
      enabled: false
      allowed_file_types:
      - image
      allowed_file_extensions:
      - .JPG
      - .JPEG
      - .PNG
      - .GIF
      - .WEBP
      - .SVG
      allowed_file_upload_methods:
      - local_file
      - remote_url
      number_limits: 3
      fileUploadConfig:
        file_size_limit: 15
        batch_count_limit: 5
        file_upload_limit: 20
        image_file_size_limit: 10
        video_file_size_limit: 100
        audio_file_size_limit: 50
        workflow_file_upload_limit: 10
        image_file_batch_limit: 10
        single_chunk_attachment_limit: 10
        attachment_image_file_size_limit: 2
  environment_variables: []
  conversation_variables: []
version: 1.14.0
kind: workflow
